image 
{height: 100px ; width: 80px; margin-left: 15px; margin-right: 15px;
}

#cartel
{
background-color: black; height: 70px ; width:100% ;font-size: medium;
}
.portada1 
{
font-size:50px; margin-left: 50px; margin-right: 50px;
}

#PortadaCR
{
color: orange; margin-top: 30px; margin-left: 25px; margin-right: 25px; text-align: center;
}

#Presentacion
{
    block-size: auto; border-color: black; background-color: deepskyblue; border-style: outset;
}

nav{
    background-color:black; height:60px; margin-bottom:3px;
    }
    
    nav ul{ color: aquamarine;
    padding-top:30px; text-align:center;margin-left: 25px; margin-right: 25px;
    }
    
    nav ul li{
        list-style:none; display:inline; margin-left: 10px; margin-right: 10px;
    }
    
    nav ul li a
    {color:orange; text-decoration:none; margin-right:60px; font-size:20px;
    }

#SColgantes
{
    block-size: auto;border-style: solid; border-color: black; background-color: grey;
}

#Contacto
{
block-size: auto; border-style:solid; border-color: black; background-color: orange;
}

footer
{
margin-top: 30px; margin-left: 25px; margin-right: 25px; text-align: center; display: inline; font-size: larger;
}